<!doctype html>
<html lang="en">
<head>
  <title>Administrate Tech Radar</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/png" sizes="36x36" href="{{ site.baseurl }}/assets/images/favicon/favicon-36x36.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="author" content="Administrate">
  <meta name="description" content="This site can be used to organize your technology watch inside your companies.">

  <meta property="og:url"                content="" />
  <meta property="og:type"               content="Website" />
  <meta property="og:title"              content="Tech radar" />
  <meta property="og:description"        content="Describe the technolgies and techniques used at Administrate and document how these are changing." />
  <meta property="og:image"              content="{{ site.baseurl }}/assets/images/crafts-poster.png" />
  
  <meta name="radar-csv" property="radar-csv"  content="{{ site.url }}{{ site.baseurl }}/assets/radar.csv" />
  
  <link href='//fonts.googleapis.com/css?family=Nunito:400,300,600,700,800,900,300italic,600italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/buddy.plugins.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/buddy.js"></script>
</head>
